<!-- FormGroup directive-->
<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <label for="country">Country: </label>
    <input id="country" type="text" formControlName="country"/>

    <label for="state">State: </label>
    <input id="state" type="number" formControlName="state"/>

    <label for="code">Code: </label>
    <input id="code" type="number" formControlName="code"/>

    <!-- FormGroupName directive-->
    <div formGroupName="address">
        <h2>Address</h2>

        <label>City: </label>
        <input id="city" type="text" formControlName="city">

        <label>Street: </label>
        <input id="street" type="text" formControlName="street">

        <label>Number: </label>
        <input id="number" type="number" formControlName="number">

        <label>zip: </label>
        <input id="zip" type="number" formControlName="zip">
    </div>

    <div formArrayName="aliases">
        <h2>Aliases</h2>

        <button type="button" (click)="addAlias(aliases)">+ Add another alias</button>
    
        <div *ngFor="let alias of aliases.controls; let i=index">
            <label for="alias-{{ i }}">Alias {{i + 1}} : </label>
            <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>
    
    <p>Complete the form to enable button</p>
    <button type="submit" [disabled]="!locationForm.valid">Submit</button>
</form>

{{locationForm.value | json}}
<p>Form Status: {{ locationForm.status }}</p>

<button type="button" (click)="updateLocation()">Update Values</button>
